
.login-block {
	width:269px;
	float:right;
}
.account {
	float:left;
	color:#fff;
	margin:10px 0 4px 13px;
	padding:2px 0 3px 37px;
	font:bold 11px/14px Helvetica, Arial, sans-serif;
	background:url(images/ico01.png) no-repeat;
}
.account:hover {color:#fff;}
.sign {
	width:83px;
	display:block;
	padding:4px 0 2px 10px;
	margin:0 0 0 auto;
	background:url(images/bg-sign.gif) no-repeat;
}
.sign span {
	display:inline-block;
	vertical-align:top;
	padding:11px 0 2px 28px;
	color:#949494;
	font:bold 11px/14px Arial, Helvetica, sans-serif;
	background:url(images/ico02.gif) no-repeat;
}
.sign-form {
	color:#8d8d8d;
	font-size:10px;
	line-height:14px;
	overflow:hidden;
	width:251px;
	padding:17px 10px 10px 8px;
	background:url(images/bg-sign-form.gif) no-repeat;
}
.sign-form a {
	color:#8d8d8d;
	text-decoration:underline;
}
.sign-form a:hover {text-decoration:none;}
.sign-form .row {
	overflow:hidden;
	padding:0 0 8px;
}
.sign-form .text {
	float:left;
	width:94px;
	height:22px;
	margin:0 11px 0 0;
	position:relative;
	background:url(images/sprite.gif) no-repeat;
}
.input-placeholder-text,
.sign-form .text input {
	float:left;
	height:14px;
	width:80px;
	text-align:center;
	color:#b4b4b4;
	font-size:10px;
	line-height:14px;
	padding:4px 7px;
	margin:0;
	border:0;
	background:none;
}
.input-placeholder-text {
	top:0;
	left:0;
}
.sign-form label {
	float:left;
	padding:0 4px 0 8px;
}
.sign-form .check {
	float:left;
	width:15px;
	height:15px;
	padding:0;
	margin:0 12px 0 0;
}
.sign-form .submit {
	float:left;
	width:40px;
	height:22px;
	cursor:pointer;
	border:0;
	padding:0;
	margin:0;
	font-size:0;
	line-height:0;
	overflow:hidden;
	text-indent:-9999px;
	background:url(images/sprite.gif) no-repeat -106px 0;
}
.search-form .submit:hover,
.sign-form .submit:hover {cursor:pointer;}
#nav {
	margin:0;
	padding:0;
	width:100%;
	list-style:none;
	overflow:hidden;
	text-align:right;
}
#nav li {
	display:inline-block;
	vertical-align:top;
	margin:0 0 0 -3px;
}
* +html #nav li {
	margin:0;
	display:inline;
}
#nav a {
	display:block;
	width:120px;
	padding:12px 4px 10px;
	color:#fff;
	font-weight:bold;
	font-family:Helvetica;
	text-align:center;
	background:url(images/bg-nav.png) no-repeat;
}
#main {
	width:100%;
	overflow:hidden;
	background:#ddd;
	border-top:1px solid #c3c3c3;
}
#main .wrapper {padding:38px 49px 44px 44px;}
#content {
	float:left;
	width:700px;
}
.block {
	width:100%;
	margin:0 0 27px;
	padding:25px 0 27px;
	background:url(images/bg-block.gif) no-repeat -700px 100%;
}
.block .holder {
	width:100%;
	background:#fff;
}
.block .frame {
	padding:0 20px;
	width:660px;
	float:left;
	margin:-25px 0 0;
	background:url(images/bg-block.gif) no-repeat;
}
.title {
	margin:-7px auto 5px;
	padding:7px 5px 3px;
	width:210px;
	height:18px;
	overflow:hidden;
	text-align:center;
	background:url(images/bg-title.gif) no-repeat;
}
.title h3,
.title h2 {
	font-size:14px;
	line-height:18px;
	margin:0;
}
.title h3 span,
.title h2 span {
	padding:0 5px;
	color:#1fa6c5;
}
.search-form {
	width:660px;
	overflow:hidden;
	padding:20px 0 9px 24px;
}
.search-form .columns-holder {
	overflow:hidden;
	padding:0 0 22px;
}
.search-form .column {
	width:189px;
	float:left;
	padding:0 31px 0 0;
}
.search-form .row {
	overflow:hidden;
	padding:0 0 11px;
	min-height:55px;
}
.search-form label {
	float:left;
	color:#696969;
	padding:0 7px 5px;
	font-weight:bold;
}
.search-form .text {
	float:left;
	width:189px;
	height:33px;
	background:url(images/sprite.gif) no-repeat 0 -24px;
}
.search-form .text input {
	float:left;
	width:171px;
	height:15px;
	line-height:15px;
	padding:9px;
	margin:0;
	border:0;
	background:none;
}
.search-form select {
	float:left;
	width:100%;
	height:21px;
	margin:0;
}
.search-form .submit {
	float:left;
	margin:21px 0 0;
	width:187px;
	height:31px;
	line-height:31px;
	border:0;
	padding:0;
	color:#fff;
	cursor:pointer;
	font-weight:bold;
	background:url(images/sprite.gif) no-repeat 0 -94px;
}
.sort-list {
	margin:0;
	padding:0;
	list-style:none;
	overflow:hidden;
}
.sort-list li {
	float:left;
	padding:0 4px 0 7px;
	margin:0 7px 0 -7px;
	background:url(images/bullet05.gif) no-repeat 0 50%;
}
.sort-list a {color:#696969;}
.sort-list a:hover {color:#10bae2;}
.list-holder {
	width:720px;
	padding:9px 0 12px 22px;
	font:12px/15px Helvetica, Arial, sans-serif;
}
